<div class="content">


  <div class="bigtext">
    <section id="city">
      <div class="bigcontainer">
       <div class="row">
        <div class="col-xs-8 col-sm-8 needspace pushtotheright">
          <h1>WHERE DO YOU WANT TO GO?</h1>
        </div>
      </div>

      <div class="needlilspace styled-input">

        <%= simple_form_for @team, defaults: { input_html: { class: 'input-container' } } do |f| %>

        <%= f.input :city_id, collection: City.all, prompt: "PICK A CITY", label: false, input_html: { class: "disable-form-control" }  %>
      </div>

      <div class="text-center needspace">
        <a href="#dates"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
      </div>

    </div>

  </section>
  <section id="dates">

    <div class="bigcontainer">
     <div class="row">
      <div class="col-xs-8 col-sm-8 needspace pushtotheright">
        <h1>WHEN?</h1>
      </div>
    </div>
    <div class="needspace styled-input">

      <%= f.input :start_date, as: :date, placeholder: "Start date", input_html: { class: "disable-form-control" } %>
      <%= f.input :end_date, as: :date, placeholder: "End date", input_html: { class: "disable-form-control" } %>

    </div>
    <div class="text-center needspace">
      <a href="#team"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
    </div>
  </div>
</section>
<section id="team">

  <div class="bigcontainer">
   <div class="row">
    <div class="col-xs-8 col-sm-8 needspace pushtotheright">

      <h1>NAME YOUR TEAM</h1>
    </div>
  </div>
  <div class="needspace">
    <div class="form-inputs login-input">

    <%= f.input :title, placeholder: "Choose a file", label: 'Team name', wrapper: :p_wrapper%>
    <div class="needspace">

    <div>
      <%= f.input :team_picture, label: 'Choose a team picture', label_html: { class: "btn-medium", style: "font-weight: normal !important"} %>
      <%= f.input :team_picture_cache, as: :hidden %>
    </div>

    </div>

  </div>

   <div class="row">
    <div class="col-xs-8 col-sm-8">

      <div class="text-center", style="margin-left: -10px;">

        <%= f.submit "Create team", :class => "btn-medium" %></div></div>
        <% end %>
      </div>

  </div>
</section>
</form>
</div>
</div>
</div>
<% content_for(:after_js) do %>
<% end %>

