<h1>READY TO GO </h1>


<%#= (Date.parse(@team.start_date) - Date.today).to_i %> days before your trip

<%= (@team.start_date.to_date - Date.today).to_i %> days before your trip




<p>Your actual score = <%= @total_score %> </p>


<h2><%= @team.title.capitalize %></h2>

<% unless @team.team_picture.nil?  %>
<%= cl_image_tag @team.team_picture, height: 300, width: 400, crop: :fill %>
<% end %>

<p><b>Start time: </b><%= @team.start_date %></p>
<p><b>End time: </b><%= @team.end_date %></p>

<h2>Your team member:</h2>
<ul>
<% @team.members.each do |member| %>

<li><p><%= member.user.email %></p></li>
<% end %>
</ul>

<p><%= link_to "Add a member", team_members_new_path(@team), method: :get %></p>
