<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
<div class="container">

  <h1>READY TO GO </h1>

      <h2>you are going to <b><%=  @team.city.name %></b></h2>

    <% if @team.start_date.to_date > Date.today %>
     <%= countdown = (@team.start_date.to_date - Date.today).to_i %> days before your trip
    <%elsif @team.in_trip?%>
      You still have <%= -(Date.today - @team.end_date.to_date).to_i+1 %> days to finish your challenges
    <%else%>
      CONGRATULATIONS, hope you had nice a holiday ! :)
    <% end %>

    <p>Your actual score = <%= @total_score %> </p>

  <h2><%= @team.title.capitalize %></h2>

    <% unless @team.team_picture.nil?  %>
      <%= cl_image_tag @team.team_picture, height: 300, width: 300, crop: :fill %>
    <% end %>

  <p><b>Start time: </b><%= @team.start_date.to_date %></p>
  <p><b>End time: </b><%= @team.end_date.to_date %></p>


  <h2>Teammates</h2>
    <% @team.members.each do |member| %>
      <%= render "circle", member: member %>
    <% end %>

  <p><%= link_to "Edit", edit_team_path(@team), method: :get %></p>

  <p><%= link_to "Add a member",  new_team_member_path(@team), method: :get %></p>

  <% if @team.in_trip? %>
    <%= link_to "List of challenges", team_challenges_path(@team), method: :get %>
  <% end %>
  <p><%= link_to "challenge Answers", team_team_answers_path(@team), method: :get %></p>
</div>
</div>
</div>
</div>
