
<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>

<h1>READY TO GO </h1>

<%= (@team.start_date.to_date - Date.today).to_i %> days before your trip


<p>Your actual score = <% @challenges %> </p>
<% unless @team.team_picture.nil?  %>
<%= cl_image_tag @team.team_picture, height: 300, width: 400, crop: :fill %>
<% end %>
<h2><%= @team.title.capitalize %></h2>
<p><b>Start time: </b><%= @team.start_date %></p>
<p><b>End time: </b><%= @team.end_date %></p>

<ul>
<% @team.members.each do |member| %>

<li><p><%= member.user.email %></p></li>
<% end %>
</ul>

  <h2>Add team members</h2>
  <%= simple_form_for Member.new , url: team_add_member_path(current_user, @team), method: :post do |f| %>
    <%= f.input :email, placeholder: "Enter the email of your team mate" %>
    <%= f.submit %>
  <% end %>

