<!-- <div class="container text-center">
<div class="row">

<div class="col-xs-12">
<h1> YOUR ANSWERS </h1>

<% @team_answers.each do |team_answer| %>
<ul>
  <li>
    <%=team_answer.challenge.title%> - <%=team_answer.challenge.description%> -
    <% if  team_answer.text.nil? %>
      <%= cl_image_tag team_answer.picture, height: 300, width: 300, crop: :fill%>
    <% else %>
    <%=team_answer.text%>
    <% end %>
    - <%=team_answer.status%></li>
  </ul>

  <%= cl_image_tag team_answer.picture, height: 300, width: 300, crop: :fill%>

  <% end %>

  <%= link_to 'Go Back', team_path(@team) %>

</div>
</div>
</div> -->

<div class="container text-center">
<div class="row answer-title">
<h1> Your answers</h1>
<%= link_to '', team_path(@team), class: "fa fa-times fa-lg cross-challenge-answer", style: "color: #blue;" %>

<div class="col-xs-12">

<% @team_answers.each do |team_answer| %>

      <% unless  team_answer.picture.file.nil? %>
      <div class="img">
      <%= cl_image_tag team_answer.picture, height: 300, width: 300, crop: :fill%>
      </div>
      <% end %>

<% end %>
<br>

</div>
</div>
</div>

