<div class="container">
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>

  <% if @user.facebook_picture_url.nil? %>
   <% unless @user.profile_picture.nil?  %>
    <%= cl_image_tag @user.profile_picture, height: 300, width: 400, crop: :fill %>
  <% end %>
   <%else %>
   <%= image_tag @user.facebook_picture_url, height: 300, width: 400, crop: :fill %>
  <% end %>

  <p><b>E-mail: </b><%= @user.email %></p>
  <p><b>Address: </b><%= @user.address %></p>

<% if policy(@user).update? %>
  <p><%= link_to "Edit", edit_user_path(@user), method: :get %></p>
<% end %>
</div>
<div class="container">
  <h3>Your teams:</h3>
  <ul>
    <% @user.members.each do |member| %>
      <li>
        <%= member.team.title %>
        <% if policy(member.team).destroy? %>
          <%= link_to "Delete", team_path(member.team), method: :delete %>
        <% end %>
        <% if policy(member.team).show? %>
          <%= link_to "Show", team_path(member.team.id) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<br>
<br>
