<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="container text-center">

        <div class="profilecard-top">

          <div class="lilspace">

            <% if @user.facebook_picture_url.nil? %>
            <% unless @user.profile_picture.nil?  %>
            <%= cl_image_tag @user.profile_picture, class: "avatar-large", crop: :fill %>
            <% end %>
            <%else %>
            <%= image_tag @user.facebook_picture_url, class: "avatar-large", crop: :fill %>
            <% end %>
          </div>

          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        </div>

        <div class="profilecard-bottom">

          <p><b><i class="fa fa-envelope" aria-hidden="true"></i>
          </b><%= @user.email %></p>
          <p><b><i class="fa fa-map-marker" aria-hidden="true"></i>
          </b><%= @user.address %></p>
          <br/>

          <% if policy(@user).update? %>

          <p><%= link_to "Edit profile", edit_user_path(@user), class: "btn-blue", method: :get %></p>
          <% end %>
        </div>
      </div>
      <p><%= link_to "Create your team", new_team_path%>
      <div class="container">

        <h1 class="text-center title-yo">MY TEAMS</h1>

        <% @user.members.each do |member| %>
        <%= render "card", member: member %>

        <% end %>

      </div>

    </div>
  </div>
</div>
