<h1>Answers#index</h1>
<p>Find me in app/views/answers/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h1 class="text-center">Your Answers</h1>

      <% @team_challenges.each do |team_challenge| %>
      <%= render "card", team_challenge: team_challenge %>

      <% end %>
      <%= link_to 'Go Back', team_path(@team) %>
    </div>
  </div>
</div>
<br>
<br>



<%= team_challenge.challenge.input_type %></div>
<h2><%= team_challenge.challenge.title %></h2>
  </div>
  <div class="bottom-right"><%= team_challenge.challenge.score %></div>

  <% if !team_challenge.answer.nil? %>
    <div class="upper-right"><%= team_challenge.answer.status %></div>
  <% end %>
  <%= link_to "", team_challenge_path(@team.id, team_challenge.challenge.id), class: "card-link" %>
</div>


<div>
