<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://static.pexels.com/photos/2029/landing-stage-sea-holiday-vacation.jpg);">

  <div class="banner-content">
    <br/>
    <br/>
    <br/>
    <br/>

    <%= image_tag "welcometag.png", width: '300' %>
    <section class="cd-intro" style="padding-top: -20px">
      <h1 class="cd-headline letters type">
        <span class="cd-words-wrapper waiting text-center">
          <b class="is-visible">BOMBAY</b>
          <b>PARIS</b>
          <b>BALI</b>
          <b>SEOUL</b>
          <b>TAIPEI</b>
          <b>OSLO</b>
          <b>TALINN</b>
          <b>ACCRA</b>
          <b>RABAT</b>
        </span>
      </h1>
    </section>
    <%= link_to "Let's go !",  new_team_path, class: "btn-blanc" %>


  </div>
</div>
<div class="container">
 <div class="row">
  <div class="col-xs-12 col-sm-12">

    <div class="bigasscontent">
      <div class="imginhome">


        <h5>WHAT IS TRIPIN?</h5>
        <div class="col-xs-5 col-xs-offset-5">

          <p>Tripin is a mobile application that proposes a list of challenges to help you discover a city !
            You will even win some discounts !</p>
          </div>
          <%= cl_image_tag("WHATIS_e7p1bj.jpg", :height=>500, :quality=>100, :width=>500, :crop=>"scale") %>
        </div>

      </div>
      <div class="bigasscontent">
        <div class="imginhome">

         <h4>HOW IT WORKS</h4>
         <div class="col-xs-5 col-sm-5">

           <p>You just need to choose the city you are going to visit and create a team to get a list of challenges to accomplish.</p>
         </div>
         <%= cl_image_tag("HOWIT_whlf7k.jpg", :height=>150, :quality=>100, :width=>250, :crop=>"scale") %>
       </div>

     </div>
     <div class="bigasscontent">
      <div class="imginhome">

        <h5>WHAT DO YOU GET?</h5>
        <div class="col-xs-5 col-xs-offset-7">

          <p>When you succeed in accomplishing a challenge you can get free gifts or discounts at shops, museums, bars, restaurants and many other places !</p>
        </div>
        <%= cl_image_tag("WHATDO_eyb9pu.jpg", :height=>300, :quality=>100, :width=>400, :crop=>"scale") %>
      </div>
      <div class="imginhome">

        <h4>Try it !</h4>
      </div>
    </div>


    <div class="container">
     <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class= bluecontainer>

          <b>ARE YOU A BUSINESS?</b>
          <br/>
          <div class="textinside">

          If you business is relevant to our app concept we will be happy to discuss including your place into one of our challenge ! Send us an email at : <b>trip@trip.in</b>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
