<div class="row">

<div class="col-xs-11">

<div class="card-index">
  <div class="card-category">
    <div class="challenge-score">
      <h3><b><%= team_challenge.challenge.score %></b></h3> <span><sup>PT</sup></span>
    </div>
  </div>
  <div class="team-score" style="color: black;">
    <%= team_challenge.challenge.input_type %>
  </div>
  <div class="card-description">
    <h2><b><%= team_challenge.challenge.title %></b></h2>
  </div>
  <%= link_to "", team_challenge_path(@team.id, team_challenge.challenge.id), class: "card-link" %>

</div>

</div>



<div class="col-xs-1 status-card">


<% if !team_challenge.answer.nil? %>


<div class="upper-right"><%#= team_challenge.answer.status %>


  <div>


    <% if team_challenge.answer.status == "completed" || team_challenge.challenge.gift == "" %>
    <i class="fa fa-check-circle"></i>

    <% elsif team_challenge.answer.status == "completed" || team_challenge.challenge.gift != "" %>



    <%= link_to "#myModal", "data-toggle" => "modal" do %>
    <p> <i class="fa fa-gift"></i><!--+link to promocode page  --></i></p>
    <% end %>


    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Your promocode is : </h4>
          </div>
          <div class="modal-body">
            <p>  <%= team_challenge.challenge.gift %>   </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>




    <% else team_challenge.answer.status == "pending" %>
    <i class="fa fa-paper-plane"></i>
    <% end %>


  </div>



</div>



<% end %>


</div>


</div>
