<div class="yellow-back">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="challenge-top">
        <div class="countdown">
          <p>You got</p>
          <h2><b><%= countdown = ((@team.end_date.to_date - Date.today).to_i) + 1 %></b></h2>
          <p>days left</p>
          <p>in <%= @team.city.name %></p>
        </div>
      </div>
      <p class="text-left" style="margin-top: 10px;"><b>YOUR CHALLENGES</b></p>
      <% @team_challenges_not_answered.each do |team_challenge| %>
        <%= render "card", team_challenge: team_challenge %>
      <% end %>
      <% @team_challenges_not_completed.each do |team_challenge| %>
        <%= render "card", team_challenge: team_challenge %>
      <% end %>
      <% @team_challenges_pending.each do |team_challenge| %>
        <%= render "card", team_challenge: team_challenge %>
      <% end %>
      <% @team_challenges_completed.each do |team_challenge| %>
        <%= render "card", team_challenge: team_challenge %>
      <% end %>
      <div class="cross-back">
        <%= link_to '', team_path(@team), class: "fa fa-times fa-lg", style: "color: white;" %>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

<br>
<br>

<div id="map" style="width: 100%; height: 400px;"></div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 50.8503, lng: 4.3517},
          zoom: 12
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        var challenges =  <%= raw @coordinates_challenges %>
        console.log(challenges)

        var icon = { url: 'images/map-marker-2.png'}


        for (var i = 0; i < challenges.length; i++) {
          var challenge = challenges[i];

          var url = "/teams/" + challenge[2] + "/challenges/" + challenge[3]

          // var url = window.location.href + "/" + challenge[3]
          console.log(url)
          var marker = new google.maps.Marker({
            position: {lat: challenge[0], lng: challenge[1]},
            map: map,
            icon: icon,
            url: url

          });

          google.maps.event.addListener(marker, 'click', function() {
            window.location.href = this.url;
          });

          console.log(challenge[0])
          console.log(challenge[1])
          console.log('success')
        }



        // Try HTML5 geolocation.
          if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var userPosition = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            console.log(userPosition.lng)
            console.log(getDistanceFromLatLonInKm(userPosition.lat, userPosition.lng))

            infoWindow.setPosition(userPosition);
            infoWindow.setContent('You are here');
            map.setCenter(userPosition);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, userPosition) {
        infoWindow.setPosition(userPosition);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }


  <% end %>

<% end %>
</div>
