<%= image_tag(@challenge.picture, :class => "picture-challenge") %>


<!-- <div class="score text-center score-circle">
  <p><b><%= @challenge.score %><sup>PT</sup></b></p>
</div> -->


<div class="challenge-content text-center">

  <div class= "top-right">
    <div class="cross-back">
      <%= link_to '', team_challenges_path(@team, @challenge), class: "fa fa-times fa-lg", style: "color: white;"%>
    </div>
  </div>

  <h2><%= @challenge.title.capitalize %></h2>
  <div class="p-inline">
    <p><b><%= @challenge.score %><sup>PT</sup></b> | </p>
    <% if @challenge.cost == 0 %>
    <div class="p-inline">
      <p class="text-grey">€</p>
      <p class="text-grey">€</p>
      <p class="text-grey">€</p>
    </div>
    <% elsif @challenge.cost == 1 %>
    <div class="p-inline">
      <p class="text-yellow">€</p>
      <p class="text-grey">€</p>
      <p class="text-grey">€</p>
    </div>
    <% elsif @challenge.cost == 2 %>
    <div class="p-inline">
      <p class="text-yellow">€</p>
      <p class="text-yellow">€</p>
      <p class="text-grey">€</p>
    </div>
    <% else @challenge.cost == 3 %>
    <div class="p-inline">
      <p class="text-yellow">€</p>
      <p class="text-yellow">€</p>
      <p class="text-yellow">€</p>
    </div>
    <% end %>
    <%= link_to "#js-wifi", "data-toggle" => "modal" do %>
      <p class="typo_white">  |<i class="fa fa-wifi typo_white"" aria-hidden="true"></i></p>
    <% end %>
    <div id="js-wifi" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Some wifi around this challenge</strong> </h4>
          </div>
          <div class="modal-body">
            <h3>EXKi De Brouckère - place de Brouckère </h3>
            <p>Name: Exki De Brouckère - Password: 4262EXKI</p>

            <h3>Fortis Brussels - rue de la Chancellerie, 11</h3>
            <p>Name: Fortis298 - Password: 426FORTISH</p>

            <h3>McDonald's - place de la Bourse, 3 </h3>
            <p>Name: McDo_PlB - Password: jsjsh7282hh</p>

            <h3>Java Coffee - rue Neuve, 123</h3>
            <p>Name: Java_Coffee_Wifi - Password: 42IHJDHZ9</p>

            <h3>AB Café/Resto - rue des Pierres, 23 </h3>
            <p>Name: ABcafeBXL - Password: 4kej983982I</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p><%= @challenge.description %></p>





  <% if @answer.not_completed? %>
  <div class= "alert alert-warning">
    wrong answer
  </div>
  <% end %>
  <div class="needlilspace styled-input">
    <%= simple_form_for [@team, @challenge, @answer], defaults: { input_html: { class: 'input-container' } } do |f| %>
      <%= f.error_notification %>
      <% if @challenge.answer_text? %>
      <%= f.input :text, input_html: {value: @answer.text}, label: 'Type your answer', wrapper: :p_wrapper %>
      <% elsif @challenge.answer_picture? %>
      <%= f.input :picture, label: 'Send picture' %>
      <%= f.input :picture_cache, as: :hidden %>
    <% elsif @challenge.answer_auto? %>
      <%= f.input :text, label: false,
       collection: bad_answers(@challenge),
       include_blank: "-- Choose an answer --",
       selected: @answer.text,
       input_html: { class: "disable-form-control" } %>
    <% else @challenge.answer_both? %>
      <%= f.input :text, label: 'Your answer', wrapper: :p_wrapper %>
      <%= f.input :picture, label: 'Send picture' %>
      <%= f.input :picture_cache, as: :hidden %>
    <% end %>
    <div class="lilspace">
      <%= f.button :submit, label: 'Send' %>
      <% end %>
    </div>
  </div>


  <%= link_to "#js-hint", "data-toggle" => "modal" do %>
    <p class="typo_white"> Need a hint ?</i></p>
  <% end %>
  <div id="js-hint" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>Your hint is : </strong> </h4>
        </div>
        <div class="modal-body">
        <p><%= @challenge.hint %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <p><i class="fa fa-map-marker" aria-hidden="true"> </i><%=@challenge.address%></p>
  <div class="container">
  <div id="map" style="width: 100%; height: 250px;"></div>
  </div>
  <div class="distance" id="total-distance">Total distance : </div>

  <br/>
</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
function initMap() {

var map = new google.maps.Map(document.getElementById('map'), {
center: {lat: 50.8503, lng: 4.3517},
zoom: 12
});

var infoWindow = new google.maps.InfoWindow({map: map});
var icon = "<%= asset_path 'map-marker-2.png' %>"
var challenge = new google.maps.Marker({
position: new google.maps.LatLng(<%=@challenge.latitude %>, <%=@challenge.longitude%>),
map: map,
icon: icon,
});




// Try HTML5 geolocation.
    var userPosition = {lat: 50.847619,lng: 4.359196};

var challengePosition = {lat: <%=@challenge.latitude %>, lng: <%=@challenge.longitude%>};

console.log(userPosition.lng)
console.log(challengePosition.lng)
console.log(getDistanceFromLatLonInKm(userPosition.lat, userPosition.lng,challengePosition.lat,challengePosition.lng))


totalDistance = getDistanceFromLatLonInKm(userPosition.lat, userPosition.lng,challengePosition.lat,challengePosition.lng).toFixed(3)
totalDistance = totalDistance.toString()
totalDistance = totalDistance.replace('.', ',')

$("#total-distance").append( totalDistance + ' km ')

infoWindow.setPosition(userPosition);
infoWindow.setContent('You are here');
};


<% end %>

<% end %>

<!-- for admin only: update or download the challenge picture
-->
<div>
 <% if current_user.admin? %>
 <%= simple_form_for [@team, @challenge], url:  team_challenge_path(@team, @challenge) do |c| %>
 <%= c.input :picture %>
 <%= c.input :picture_cache, as: :hidden %>

 <%= c.button :submit %>
 <% end %>

 <% end %>
</div>
